---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="Currently under construction! Check back later!"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Currently under construction! Check back later!
	</p>
</Layout>
