---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, Educational Explorer!</h1>
			<p>
				Welcome to the official Oort Education website. We apologize for the strange URL, it will hopefully only be a quick and temporary domain to work on while we construct our educational libraries.
				Once finished, this website will be an incredible place for any and all students to collaborate and view online resources for NO COST! But in the meantime, please pardon our dust as we work out the kinks in our system.
			</p>
		</main>
		<Footer />
	</body>
</html>
